{% extends 'base.html' %}

{% block content %}
{% if aviso %}
<script>
	alert('{{ aviso }}');
</script>
{% endif %}
<form method='POST'>
	{{ form.csrf_token }}
	<div class="mb-3">
		{{ form.nome.label(class_="form-label", for="usuario") }}
		{{ form.nome(class_="form-control") }}
	</div>
	<div class="mb-3">
		{{ form.senha.label(class_="form-label", for="senha") }}
		{{ form.senha(class_="form-control") }}
	</div>
	<div class="mb-3">
		{{ form.confirmar_senha.label(class_="form-label", for="confirmar_senha") }}
		{{ form.confirmar_senha(class_="form-control") }}
	</div>
	<div class="mb-3">
		{{ form.cargos.label(class_="form-label", for="confirmar_senha") }}
		{{ form.cargos(class_="form-control") }}
	</div>
	<div class="mb-3 form-check">
		{{ form.ativo(class_="form-check-input") }}
		{{ form.ativo.label(class_="form-label", for="ativo") }}
	</div>
	{{ form.submit(class_="btn btn-primary") }}
</form>
{% endblock %}
